<!-- Favorites -->


<template name="Favorites">
  
  <div class="favorites">
    
    {{> FavoritesEducation}}

    {{> FavoritesNewTarget}}

  </div>

</template>


<!-- Favorites >> Education -->


<template name="FavoritesEducation">
  
  <div class="education">
    <p></p>
  </div>

</template>


<!-- Favorites >> Add A New Target -->


<template name="FavoritesNewTarget">
  
  <div class="favorites-new">
    
  </div>

</template>


<!-- Favorites >>  -->


<template name="FavoritesListTargets">
  
  <div class="favorites-list">
    
  </div>

</template>